[PROXY]
PROXY_SETTINGS=ALL_PROXY,http_proxy,https_proxy

[JIRA]
jira_server_url = https://jira.oraclecorp.com/jira
jira_server_user = gen-jira-devops_us@oracle.com
jql_search_str = 'labels = TechDebt-CI-CD AND labels = eps-tech-debt AND labels = Tech-Debt-Host:' + hostname + ' AND status NOT IN("CANCELLED", "CLOSED")'
jira_update_comment = Please look into the tech debt on priority
jira_story_description_template = Hi, \n\nYou have received this Jira Story as there is a deployment to the host - ${hostname} that is not running a latest version of software. \n\nCurrently the host is running on ${os_name} and version ${current_os_version}, which is not on the latest OS version. \n\nLatest OS Version for ${os_name}: ${latest_os_version}. \n\nWe have assigned this Jira Story to prioritize and address the Technical Debt. \n\nThanks! \n\nCI/CD Team
issue_dict = {'project': {'key': jira_project_key}, 'summary': 'Tech Debt identified on host:'+hostname, 'description': jira_story_description, 'issuetype': {'name': 'Story'}, 'labels': ['TechDebt-CI-CD', 'eps-tech-debt', 'Continuous-Compliance', 'Tech-Debt-Host:'+hostname]}
